@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #1f2028;
    font-family: 'Ubuntu', sans-serif;
    margin: 1.25rem auto;
    max-width: 800px;
    
}

header, footer{
    background-color: #f7f8fd;
    color:#1f2028;
    text-align: center;
    padding: 1.5rem;
    border-radius: 30px;
}

a {
    color: #f7f8fd;
    text-decoration: none;
}

a:hover{
    color: #7ccf45;
}

ul {
    color: #f7f8fd;
    line-height: 2;
}

h2, p{
    color:#7ccf45;
    text-align: left;
}