@media (min-width: 36em) and (max-width: 62.37em)  {

/*GENERAL*/
.hrnone {
    display: none;
}

/*HEADER*/
header {
    grid-template-columns: 70% 10% 10% 10%;
}

#logo {
    width: 40%;
    justify-self: start;
    grid-row: 1/2;
    margin-left: 1.5em;
}

#fb {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

#linked {
    justify-self: center;
    grid-row: 1/2;
    grid-column: 3/4;
}

/*NAV BAR*/
#hamburger {
    width: 100%;
    grid-column: 4/5;
    grid-row: 1/2;
}

.navigation {
    padding-left: 0;
}

.navigation li {
    display: none;
    margin: 1em;
    padding: 0;
}

.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation.responsive li {
    display: block;
}

.navigation.responsive li a {
    display: block;
}

/*MAIN*/
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#meet {
    grid-column: 1/6;
    grid-row: 1/2;
}

.hero {
    grid-column: 1/6;
    grid-row: 2/3;
    height: auto;
}

#joinButton {
    margin-left: 72%;
    margin-top: 40%;
}

.news {
    grid-column: 1/6;
    grid-row: 3/4;
}

.main-spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/6;
    grid-row: 4/5;
}

.joinUs {
    display: block;
    background-color: #f7f8fd;
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin: 1em auto;
    grid-column: 1/6;
    grid-row: 5/6;
}

.event {
    grid-column: 1/4;
    grid-row: 6/7;
    height: auto;
    width: 90%;
}

.event, .weather-container, .news, .spotlight1, .spotlight2 h2 {
    padding-top: 0;
}

.weather-container {
    grid-column: 4/6;
    width: 90%;
    grid-row: 6/7;
}

/*FOOTER*/
#dataOrder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

#info1 {
    align-self: center;
}
 
#info2 {
    align-self: center;
}

#pbottom {
    display: grid;
    grid-template-columns: repeat(3, auto);          
}

}

