@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

/*GENERAL*/

* {
    box-sizing: border-box;
}

body {
    background-color: #830D35;
    font-family: 'Sora', sans-serif;
    margin: 20px auto;
    max-width: 62.5em;
    color: #830D35;
}

hr {
    width: 90%;
    border-top: 1px solid #830D35;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    background-color: #f7f8fd;
    padding: 1em;
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin: .5em auto;
    
}

#hamburger {
    background-color: transparent;
    border: none;
    font-size: 2em;
    width: 100%;
    grid-column: 5/6;
    display: block;
	  
}


.hero h1 {
    z-index: 1;
    position: absolute;
    margin-top: 1em;
    color: #f7f8fd;
    margin-left: 2em;
    background-color: #830D35;
    padding: .5em;
    border-radius: .5em;
    font-size: 1.5em;

}

#img-small{
    position: relative;
    display: block;
    margin: .5em auto;
    width: 95%;
    height: auto;
    border-radius: 1em;
}

#img-mediumLarge {
    display: none;
}

#museo {
    display: none;
}



#joinButton {
    position: absolute;
    z-index: 1;
    border-radius: 1em;
    background-color: #830D35;
    color: #f7f8fd;
    padding: .6em;
    margin-top: 17em;
    margin-left: 17em;
    border-color: #f7f8fd;
}

#joinButton:hover {
    background-color: black;
}

.event {
    background-color: #f7f8fd;
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
    margin: 1em auto;
}

.joinUs {
    display: none;
}

.weather-container{
    background-color: #f7f8fd;
    width: 60%;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
    margin: 1em auto;
}

#icon-weather {
    display: grid;
    grid-template-columns: 60% 40%;  
}

#iw {
    width: 80%;
    justify-self: center;
    grid-column: 1/2;
}

#temp {
    grid-column: 2/3;
    align-self: center;
}

#wind {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}

.h3w {
    margin: 0;
    padding: 0;
}

.news {
    background-color: #f7f8fd;
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
    margin: 1em auto;
}

.event, .weather-container, .news, .spotlight1, .spotlight2 h2 {
    color: #830D35;
    display: block;
    text-align: center;
    padding-top: .5em;
}

.main-spotlight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #f7f8fd;
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
    margin: 1em auto;
}

.spotlight1 {
    grid-row: 1/2;
    height: auto;
}

#trade-fair {
    width: 50%;
    height: auto;
    display: block;
    margin: .5em auto;
    padding: 0;
}

p {
    width: 95%;
    height: auto;
    padding: 1em;
    text-align: center;
    line-height: 1.5;

}

#logo {
    width: 100%;
    grid-column: 1/3;
}


a {
    text-decoration: none;
    color: #830D35;
    margin: 0;
    padding: 1em;
    height: auto;
    align-self: center;
}

a:hover {
    background-color: #8a2144;
    color: #f7f8fd;
    border-radius: .5em;
}

#location {
    display: block;
    margin: .5em auto;
    text-align: center;
    width: 40%;
}

#currenTime {
    width: 80%;
    height: 2em;
}



.navigation {
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    background-color: #181717;
    width: 100%;
    text-align: justify;
}

.navigation li{
    display: none;
}

.navigation li a {
	padding: 1.15rem;
	color: #fff;
    border-radius: 1.5em;
}

.navigation.responsive li{
    display: block;
}

.navigation.responsive li a{
    display: block;
    
}

nav{
    grid-column: 1/6;
    width: 100%;
}
#fb {
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;   
    grid-column: 3/4;
    grid-row: 1/2;
}

#linked {
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center; 
    grid-column: 4/5;
    grid-row: 1/2;
}

.divsExamples {
    background-color: #f7f8fd;
    width: 95%;
    height: 10em;
    border-radius: 1em;
    margin-top: 1em;
    margin: 1em auto;
}

footer {
    display: grid;
    grid-column: 1fr;
    background-color: #f7f8fd;
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin: .5em auto;
    padding-bottom: 1em;
}

#logoFooter {
    display: block;
    width: 30%;
    height: auto;
    margin: .3em auto;
}

#dataOrder p{
    text-align: center;
    justify-self: center;
    margin: 0;
    padding: .5em;
}

#pfooter {
    margin: 0;
    padding: .5em;
}

#pbottom p{
    text-align: center;
    justify-self: center;
    padding: .5em;
    margin: 0;
}

#currentDate {
    background-color: #8a2144;
    color: #f7f8fd;
    text-align: center;
    padding: .5em;
    width: 70%;
    height: 2em;
    margin-top: .5em;
    border-radius: 1em;
    grid-column: 1/6;
}

#lastModified {
    color: #830D35;
    text-align: center;
}