@media (min-width: 36em) and (max-width: 62.37em)  {
header {
    grid-template-columns: 70% 10% 10% 10%;
}


main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.hero {
    grid-column: 1/6;
    height: auto;
}

#img-mediumLarge {
    position: relative;
    display: block;
    margin: .5em auto;
    width: 95%;
    height: auto;
    border-radius: 1em;
}

#img-small{
    display: none;
}



.news {
    grid-column: 1/6;
    grid-row: 2/3;
}

.main-spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/6;
    grid-row: 3/4;
}

.joinUs {
    display: block;
    background-color: #f7f8fd;
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
    margin: 1em auto;
    grid-column: 1/6;
    grid-row: 4/5;
}

#aJoin {
    display: block;
    text-align: center;
    background-color: #8a2144;
    color: #f7f8fd;
    margin: .5em;
    border-radius: 1.5em;
}

#aJoin:hover {
    background-color: black;
}

.event {
    grid-column: 1/4;
    grid-row: 5/6;
}

.weather-container {
    grid-column: 4/6;
    width: 95%;
}

#hrnone {
    display: none;
}

#logo {
    width: 40%;
    justify-self: start;
    grid-row: 1/2;
}

.social {
    width: auto;
}

#fb {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

#linked {
    justify-self: center;
    grid-row: 1/2;
    grid-column: 3/4;
}

#hamburger {
    width: 100%;
    grid-column: 4/5;
    grid-row: 1/2;
}


.navigation li{
    display: none;
    margin: 1em;
    padding: 0;
}

.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation.responsive li{
    display: block;
}

.navigation.responsive li a{
    display: block;
}

    
#dataOrder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    }
    
#pbottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
            
}

}

