@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*GENERAL*/

body {
    background-color: #1f2028;
    font-family: 'Ubuntu', sans-serif;
    margin: 1.25rem auto;
    max-width: 800px;
}

h2{
    color:#7ccf45;
    text-align: center;
}

p {
    color: #1f2028;
}

/*HEADER*/

header{
    background-color: #f7f8fd;
    color:#1f2028;
    text-align: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

#name {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    margin: auto;
    font-size: 2em;
}

img{
    width: 25%;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    filter: drop-shadow(0 0 0.75rem #5c9b33);
    margin: 1em;
}

ul {
    color: #f7f8fd;
    line-height: 2;
}

a {
    color: #f7f8fd;
}

a:hover{
    color: #7ccf45;
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #f7f8fd;
    text-align: center;
    color: #1f2028;
}

#pfooter {
    color: #1f2028;
    grid-row: 1/2;
    grid-column: 1/2;
}

#buttonLast {
    background-color: #1f2028;
    grid-row: 2/3;
    grid-column: 1/2;
    border-radius: 30px;
    border: none;
    margin-bottom: 10px;
    padding: 15px 32px;
    color: #f7f8fd;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

#buttonLast:hover{
    background-color: #7ccf45; 
    color: #1f2028; 
}

#lastupdated {
    font-size: 12px;
    align-self: center;
    grid-column: 1/2;
    font-family: 'Ubuntu', sans-serif;
}